<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.isomorphisms.redscreen">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="28" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:hasCode="false"
        android:label="Red Screen"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">

        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.app.lib_name"
                android:value="redscreen" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
