<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.isomorphisms.wegert">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="29" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="Wegert DEX JNI">
        <activity
            android:name=".WegertActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="wegert" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
